#banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
  object-position: center;
}
#banner span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  opacity: 0.8;
}

.service-section img {
  width: 100%;
  object-fit: contain;
  margin-top: 50px;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.service-section ul {
  /* list-style: circle !important; */
}
.service-section ul li {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.service-section ul li:hover {
  background-color: var(--secondary-color);
  color: white !important;
}
