:root {
  --main-color: #1b1464;
  --secondary-color: #c9a437;
}
* {
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.main-background {
  background-color: var(--main-color);
}
.main-color {
  color: var(--main-color);
}
.secondary-background {
  background-color: var(--secondary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
#hero img {
  height: calc(100vh - 126px);
  position: relative;
}
#hero img:after {
  content: "hgf";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 111111111111;
}
.w-fit {
  width: fit-content;
}
.untouchable {
  user-select: none;
}
